body {
    margin: 0;
    font-family: 'DS-Digital', sans-serif;
    background-color: #000;
    color: #ff8800;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    margin-top: 10%;
}

h1 {
    font-size: 6rem;
}

p, h2 {
    margin: 10px 0;
}

/* Estilo para los links */
a {
    color: #ff8800; /* Color naranja */
    font-size: 2rem;
    text-decoration: underline; /* Subrayado */
    padding: 10px 20px;
    margin: 0 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #e67e22; /* Color naranja más oscuro al pasar el ratón */
}

/* Centrar los links en la página */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente */
    margin-top: 10px;
}

.links-container a {
    margin: 0 20px; /* Espacio entre los links */
}

/* Tema Claro */
body.light-theme {
    background-color: #ffffff;
    color: #333333;
}

body.light-theme .theme-button {
    color: #333333;
}

body.light-theme .modal-content {
    background: #f4f4f4;
    color: #000000;
}
