body {
  margin: 0;
  font-family: 'DS-Digital', sans-serif;
  background-color: #000;
  color: #ff8800;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0; /* Reducir el margen superior */
}

h1 {
  font-size: 3rem; /* Reducir el tamaño del título */
  margin-bottom: 10px; /* Reducir el espacio entre el título y el botón */
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.light-theme .theme-button {
  color: #333333;
}

body.light-theme .modal-content {
  background: #f4f4f4;
  color: #000000;
}

/* Estilo para la ruleta */
#wheel {
  margin-bottom: 20px; /* Ajustar espacio entre la ruleta y el resultado */
}

/* Contenedor de ganador */
#winner {
  font-size: 2rem;
  color: #fff;
  margin-top: 20px; /* Añadir espacio entre el resultado y la ruleta */
}

/* Tema Claro */
body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.light-theme .theme-button {
  color: #333333;
}

body.light-theme .modal-content {
  background: #f4f4f4;
  color: #000000;
}
