body {
  margin: 0;
  font-family: 'DS-Digital', sans-serif;
  background-color: #000;
  color: #ff8800;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  position: relative;  /* Necesario para posicionar las monedas dentro del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0;
}

.coin {
  position: absolute;
  background-color: #FFD700;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  pointer-events: none;  /* Las monedas no deben interferir con otros elementos */
}

h1 {
  font-size: 40px; /* Reducir el tamaño del título */
  margin-bottom: 80px; /* Reducir el espacio entre el título y el botón */
}

body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.light-theme .theme-button {
  color: #333333;
}

body.light-theme .modal-content {
  background: #f4f4f4;
  color: #000000;
}

/* Estilo para la ruleta */
#wheel {
  margin-bottom: 20px; /* Ajustar espacio entre la ruleta y el resultado */
}

/* Contenedor de ganador */
#winner {
  font-size: 30px;
  color: #ff8800;
  margin-top: 20px; /* Añadir espacio entre el resultado y la ruleta */
}

/* Tema Claro */
body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.light-theme .theme-button {
  color: #333333;
}

body.light-theme .modal-content {
  background: #f4f4f4;
  color: #000000;
}

/* Contenedor de la ruleta y la flecha */
.wheel-container {
  position: relative;
  display: inline-block;
}

/* Flecha */
.arrow {
  position: absolute;
  top: 45%; /* Centrada verticalmente */
  left: 100%; /* Centrada horizontalmente */
  transform: translate(-50%, -100%); /* Ajustar posición al borde superior de la ruleta */
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid red; /* Triángulo rojo */
  z-index: 10;
}